In [1]:
# Dependencies and Setup
import pandas as pd
from datetime import datetime 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [2]:
# Read matches_by_teams.csv File and store into Pandas data frame
file_to_load = 'fertilizer_data.csv'
fertilizer_data = pd.read_csv(file_to_load)
fertilizer_data.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,10,Australia,5510,Production,3102,Nutrient nitrogen N (total),1990,1990,tonnes,224500.0,X,International reliable sources
1,RFN,Fertilizers by Nutrient,10,Australia,5510,Production,3102,Nutrient nitrogen N (total),1991,1991,tonnes,229500.0,X,International reliable sources
2,RFN,Fertilizers by Nutrient,10,Australia,5510,Production,3102,Nutrient nitrogen N (total),1992,1992,tonnes,224100.0,X,International reliable sources
3,RFN,Fertilizers by Nutrient,10,Australia,5510,Production,3102,Nutrient nitrogen N (total),1993,1993,tonnes,232300.0,X,International reliable sources
4,RFN,Fertilizers by Nutrient,10,Australia,5510,Production,3102,Nutrient nitrogen N (total),1994,1994,tonnes,228900.0,X,International reliable sources

In [3]:
for col in fertilizer_data.columns:
    print(col)

Domain Code
Domain
Area Code (FAO)
Area
Element Code
Element
Item Code
Item
Year Code
Year
Unit
Value
Flag
Flag Description

In [4]:
#Check for NaN and blank data
fertilizer_data.isnull().sum()

Domain Code         0
Domain              0
Area Code (FAO)     0
Area                0
Element Code        0
Element             0
Item Code           0
Item                0
Year Code           0
Year                0
Unit                0
Value               0
Flag                0
Flag Description    0
dtype: int64

In [11]:
clean_fertdata = fertilizer_data.drop(columns=["Domain Code", "Domain Code", "Domain", "Area Code (FAO)", "Area", 
                                       "Element Code", "Element", "Item Code", 
                                  "Year Code", "Flag","Unit", "Flag Description"])

In [13]:
clean_fertdata.head()

                          Item  Year     Value
0  Nutrient nitrogen N (total)  1990  224500.0
1  Nutrient nitrogen N (total)  1991  229500.0
2  Nutrient nitrogen N (total)  1992  224100.0
3  Nutrient nitrogen N (total)  1993  232300.0
4  Nutrient nitrogen N (total)  1994  228900.0

In [15]:
clean_fertdata.rename(columns={"Value": "Value(tonnes)"}, inplace = True)

In [16]:
clean_fertdata.head()

                          Item  Year  Value(tonnes)
0  Nutrient nitrogen N (total)  1990       224500.0
1  Nutrient nitrogen N (total)  1991       229500.0
2  Nutrient nitrogen N (total)  1992       224100.0
3  Nutrient nitrogen N (total)  1993       232300.0
4  Nutrient nitrogen N (total)  1994       228900.0

In [17]:
print(clean_fertdata)

                            Item  Year  Value(tonnes)
0    Nutrient nitrogen N (total)  1990      224500.00
1    Nutrient nitrogen N (total)  1991      229500.00
2    Nutrient nitrogen N (total)  1992      224100.00
3    Nutrient nitrogen N (total)  1993      232300.00
4    Nutrient nitrogen N (total)  1994      228900.00
..                           ...   ...            ...
337  Nutrient potash K2O (total)  2015      239894.89
338  Nutrient potash K2O (total)  2016      255367.97
339  Nutrient potash K2O (total)  2017      273126.19
340  Nutrient potash K2O (total)  2018      293693.53
341  Nutrient potash K2O (total)  2019      288016.25

[342 rows x 3 columns]

In [20]:
clean_fertdata.to_csv('fertilizer_data_clean.csv')