In [1]:
# Dependencies and Setup
import pandas as pd
from datetime import datetime 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [2]:
# Read matches_by_teams.csv File and store into Pandas data frame
file_to_load = 'crop_yield.csv'
crop_yield = pd.read_csv(file_to_load)
crop_yield.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,10,Australia,5312,Area harvested,221,"Almonds, with shell",1990,1990,ha,3000,F,FAO estimate
1,QCL,Crops and livestock products,10,Australia,5312,Area harvested,221,"Almonds, with shell",1991,1991,ha,3100,F,FAO estimate
2,QCL,Crops and livestock products,10,Australia,5312,Area harvested,221,"Almonds, with shell",1992,1992,ha,3900,F,FAO estimate
3,QCL,Crops and livestock products,10,Australia,5312,Area harvested,221,"Almonds, with shell",1993,1993,ha,4600,F,FAO estimate
4,QCL,Crops and livestock products,10,Australia,5312,Area harvested,221,"Almonds, with shell",1994,1994,ha,4670,F,FAO estimate

In [3]:
#check the columns in the dataset
for col in crop_yield.columns:
    print(col)

Domain Code
Domain
Area Code (FAO)
Area
Element Code
Element
Item Code (FAO)
Item
Year Code
Year
Unit
Value
Flag
Flag Description

In [4]:
#Check for NaN and blank data
crop_yield.isnull().sum()

Domain Code           0
Domain                0
Area Code (FAO)       0
Area                  0
Element Code          0
Element               0
Item Code (FAO)       0
Item                  0
Year Code             0
Year                  0
Unit                  0
Value                 0
Flag                358
Flag Description      0
dtype: int64

In [18]:
#drop unnecessary columns
clean_yielddata = crop_yield.drop(columns=["Domain Code", "Domain Code", "Domain", "Area Code (FAO)", "Area", 
                                       "Element Code", "Item Code (FAO)", 
                                       "Year Code", "Flag", "Unit","Flag Description"])

In [19]:
clean_yielddata.head()

          Element                 Item  Year  Value
0  Area harvested  Almonds, with shell  1990   3000
1  Area harvested  Almonds, with shell  1991   3100
2  Area harvested  Almonds, with shell  1992   3900
3  Area harvested  Almonds, with shell  1993   4600
4  Area harvested  Almonds, with shell  1994   4670

In [21]:
##choose the 'yield' element from the dataset, remove area harvested and production
clean_yielddata.drop(clean_yielddata.index[clean_yielddata['Element'] == 'Area harvested'], inplace=True)
clean_yielddata.drop(clean_yielddata.index[clean_yielddata['Element'] == 'Production'], inplace=True)

In [22]:
clean_yielddata.head()

   Element                 Item  Year  Value
31   Yield  Almonds, with shell  1990  16667
32   Yield  Almonds, with shell  1991  29032
33   Yield  Almonds, with shell  1992  24359
34   Yield  Almonds, with shell  1993  21739
35   Yield  Almonds, with shell  1994  23555

In [23]:
#drop hte colum "element"
clean_yielddata = clean_yielddata.drop(columns=["Element"])

In [24]:
print(clean_yielddata)

                    Item  Year  Value
31   Almonds, with shell  1990  16667
32   Almonds, with shell  1991  29032
33   Almonds, with shell  1992  24359
34   Almonds, with shell  1993  21739
35   Almonds, with shell  1994  23555
..                   ...   ...    ...
615                Wheat  2016  19743
616                Wheat  2017  26100
617                Wheat  2018  19178
618                Wheat  2019  16917
619                Wheat  2020  14681

[217 rows x 3 columns]

In [25]:
#rename item to 'crop'
clean_yielddata.rename(columns={"Item": "Crop"}, inplace = True)

In [27]:
print(clean_yielddata)

                    Crop  Year  Value
31   Almonds, with shell  1990  16667
32   Almonds, with shell  1991  29032
33   Almonds, with shell  1992  24359
34   Almonds, with shell  1993  21739
35   Almonds, with shell  1994  23555
..                   ...   ...    ...
615                Wheat  2016  19743
616                Wheat  2017  26100
617                Wheat  2018  19178
618                Wheat  2019  16917
619                Wheat  2020  14681

[217 rows x 3 columns]

In [28]:
#rename value with yield unit
clean_yielddata.rename(columns={"Value": "Value(hg/ha)"}, inplace = True)

In [29]:
print(clean_yielddata)

                    Crop  Year  Value(hg/ha)
31   Almonds, with shell  1990         16667
32   Almonds, with shell  1991         29032
33   Almonds, with shell  1992         24359
34   Almonds, with shell  1993         21739
35   Almonds, with shell  1994         23555
..                   ...   ...           ...
615                Wheat  2016         19743
616                Wheat  2017         26100
617                Wheat  2018         19178
618                Wheat  2019         16917
619                Wheat  2020         14681

[217 rows x 3 columns]

In [30]:
#reset index
clean_yielddata= clean_yielddata.reset_index(drop=True)

In [31]:
print(clean_yielddata)

                    Crop  Year  Value(hg/ha)
0    Almonds, with shell  1990         16667
1    Almonds, with shell  1991         29032
2    Almonds, with shell  1992         24359
3    Almonds, with shell  1993         21739
4    Almonds, with shell  1994         23555
..                   ...   ...           ...
212                Wheat  2016         19743
213                Wheat  2017         26100
214                Wheat  2018         19178
215                Wheat  2019         16917
216                Wheat  2020         14681

[217 rows x 3 columns]

In [32]:
clean_yielddata.to_csv('crop_yield_clean.csv')